<header>
  <div class="header-wrapper">
    <app-logo></app-logo>
    <app-filter *ngIf="isFilterVisible"></app-filter>
    <div class="header-actions">
      <ng-container *ngIf="!isHomePage">
        <app-filter-button (click)="onFilterButtonClick()"></app-filter-button>
      </ng-container>
      
      <app-log-button 
      [isLoggedIn]="isLoggedIn" 
      (loginLogoutClicked)="onLoginLogoutClicked()"></app-log-button>
      <app-subscribe-button>Star your free trial</app-subscribe-button>
    </div>
  </div>
</header>
