<footer>
  <div class="footer-wrapper">
    <div class="footer-logo">
      <a route="/">
        <img src="assets/logo.png" alt="Dreadful Tomato Logo">  
      </a>
    </div>
    <nav>
      <ul>
        <app-nav-item route="/">Home</app-nav-item>
        <app-nav-item route="/">Terms of Use</app-nav-item>
        <app-nav-item route="/">Legal Notices</app-nav-item>
        <app-nav-item route="/">Help</app-nav-item>
        <app-nav-item route="/">Manage Account</app-nav-item>
      </ul>
    </nav>
    <div class="footer-store">
      <div class="footer-store__img">
        <a href="https://www.apple.com/app-store/" target="_blank">
          <img src="assets/app store.png" alt="">
        </a> 
      </div>
      <div class="footer-store__img">
        <a href="https://play.google.com/store" target="_blank">
          <img src="assets/google-play.png" alt="">
        </a>  
      </div>
    </div>
    <h4>Copyright 2020 Dreadful Tomato Streaming. All Rights Reserved</h4>
  </div>
  
</footer>
